body {
	margin: 10%;
	background: bisque;
	font-family: calibri, sans-serif;
	color: black;			}
h1 {
	font-family: calibri, sans-serif;
	text-decoration: underline;			}
h2 {
	font-family: calibri, sans-serif;
	font-style: italic;
	color: black;
	font-size: 1.2em;	}
p {
	margin-left: 2%;
	font-family: calibri, sans-serif;
	text-indent: 20px;			}
ol {
	font-family: calibri, sans-serif;	}
img {
	margin-right: 20px;
	margin-bottom: 20px;	}
a	{
	text-decoration: none;
	color: DarkGreen; }
a:hover, a:active, a:focus	{
	background-color: rgb(256,100,256);
	color: black; }
p a {
	text-decoration: none;
	color: DarkGreen; }
p a:hover, a:active, a:focus {
	background-color: rgb(256,100,256);
	color: black;	}
nav {
	letter-spacing: 4px;
	font-size: 1.1em;
	text-align: right;
	list-style: none;  }
nav a {
	text-decoration: none;
	margin-left: 8px;
	color: DarkGreen);
	font-family: Century, Georgia, serif;
	font-size: 1em;  }
nav a:hover {
	background-color: rgb(256,206,50);
	color: DarkGreen;	}
figure { 
	display: block; 
	float: right;
	position: relative; 
	overflow: hidden;
}
figcaption { 
	position: absolute; 
	background: rgba(0,0,0,0.75); 
	color: white; 
	padding: 10px 20px; 
	opacity: 0;
	bottom: 0; 
	left: -30%;
	-webkit-transition: all 0.6s ease;
	-moz-transition:    all 0.6s ease;
	-o-transition:      all 0.6s ease;
}
figure:hover figcaption {
	opacity: 1;
	left: 0;
}
figure:hover {
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	transform: scale(2);
}
	
.dropbtn {
	background-color: bisque;
	color: DarkGreen;
	text-align: justify;
	font-family: Century, Georgia, serif;
	letter-spacing: 5px;
	font-size: 1em;
	border: none;	}
.dropdown {
	position: relative;
	display: inline-block;	}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: chartreuse;
	min-width: 175px;
	z-index: 1;	}
.dropdown-content a {
	color: DarkGreen;
	padding: 30px 30px;
	text-align: left;
	display: block;	}
.dropdown-content a:hover {
	background-color: rgb(256,206,50);	}
.dropdown:hover .dropdown-content {
	display: block;	}
.dropdown:hover .dropbtn {
	background-color: rgb(256,206,50);	}
	
.grid-container	{
	display: grid;
	grid-template-columns: auto auto;
	margin-top: 2em;
	border-radius: 1.5em;
	background-image: linear-gradient(90deg, BlanchedAlmond 40%, bisque 80%);
	padding: 1em;	}
.ingredients {
	padding: 0.2em;			}
.directions {
	padding: 0.2em;	}
.grid-item {
	padding: 0.7em;	}
	
#back {
	font-size: 2em;
	font-weight: bold;			}